/* Debug */

[class*="col-"] {
    
    /* min-height: 100px; */
    /* line-height: 100px; */
    /* background-color: yellowgreen; */
    /* border: 2px solid black; */
}

/* Common */

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
}

.wrapper_70 {
    width: 70%;
    margin: 0 auto;
}

.wrapper_60 {
    width: 60%;
    margin: 0 auto;
}

.color_white {
    color: white;
}
.color_blue {
    color:#011d4c;
}
.color_lightblue {
    color:#3181ff;
}
.color_white {
    color: white;
}
.color_gray {
    color:gray;
}
.color_lightgray {
    color: #7a869d;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 30px;
    color: #011d4c;
}
h3 {
    color: #011d4c;
}
p {
    font-size: 20px;
}

/* Header */

/* Navbar */

.my_navbar.navbar {
    background-color: white;
    margin-bottom: 0;
}

.my_navbar .navbar-left {
    padding-left: 80px;
    padding-top: 10px;
}

.my_navbar .navbar-right {
    padding-right: 30px;
    padding-top: 10px;
}

.my_navbar .navbar-header {
    padding-top: 5px;
}

.my_navbar .navbar-brand {
    padding: 11px 11px;
    padding-left: 50px;
}

.my_navbar .navbar-brand > img {
    height: 100%;
}

.my_navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.my_navbar a {
    color:#031b4e;
    font-size: 15px;
    font-weight: 450;
}

.my_navbar .navbar-toggle .icon-bar {
    width: 24px;
    height: 3px;
    background-color: #0167fe;
}

.btn_ocean,
.my_navbar a.btn_ocean{
    font-size: 15px;
    font-weight: bold;
    color: #0167fe;
    background-color: white;
    border-color: #0167fe;
    margin-top: 3px;
}

.my_navbar .navbar-nav>li>a.btn_ocean {
    padding: 6px 12px;
}

.my_navbar li:hover :not(.btn_ocean) {
    color: #0167fe;
    background-color: white;
}

.my_navbar .navbar-nav>li>a.btn_ocean:hover {
    color: white;
    background-color:#0167fe;
}

/* Jumbotron */

#my_jumbotron {
    /* height: 500px; */
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.jumbo_right {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 50px 0;
}

.jumbo_right h3 {
    font-size: 30px;
}
.jumbo_form_title p {
    font-size: 30px;
}

.jumbo_title {
    padding: 40px 10px;
}

.jumbo_title > p {
    font-size: 22px;
    color: #b2c4fe;
}

.jumbo_form p {
    font-size: 15px;
}

.button_form {
    text-align: center;
}

.my_account,
.my_google {
    display: block;
    margin: 10px 0;
}

.my_account {
    background-color: #0167fe;
    color: white;
    font-weight: bold;
    border: 1px solid #0167fe;
}

.my_google {
    background-color: white;
    color: gray;
    font-weight: bold;
    border: 1px solid gainsboro;
}
.my_google #logo_ggl {
    position: absolute;
    left: 40px;
    width: 4%;
}

/* Sezione Customers */

#logos {
    padding: 30px 0;
    background-color: #f2f5f9;
}

.customer_title > h3 {
    font-size: 18px;
    text-transform: uppercase;
}

#logos img {
    width: 100%;
    height: 100px;
}

.custom-stories i {
    font-size: 10px;
    padding-left: 10px;
}

/* Deploy */

#deploy {
    padding: 40px 0;
}

.deploy_list {
    padding: 40px 0;
}

.deploy_list_int {
    list-style: none;
    border-left: 1px solid lightgray;
}

.deploy_list_int li {
    padding: 10px 0;
    color: gray;
    font-size: 18px;
}

.deploy_right_top {
    padding-top: 40px;
}

.deploy_right_bottom {
    padding-top: 30px;
}

.deploy_right_top img,
.deploy_right_bottom img {
    padding-bottom: 10px;
}

.deploy_right_top h4,
.deploy_right_bottom h4 {
    font-size: 18px;
    font-weight: bold;
    color: #011d4c;
}

.deploy_right_top p,
.deploy_right_bottom p {
    font-size: 14px;
}

/* Easy-to-use Carousel */

#my_carousel {
    background-color:#f2f5f9;
    padding: 40px 0;
}

.my_carousel h2 {
    margin-bottom: 20px;
}

.my_carousel_img {
   width: 50%;
   margin: 0 auto;
   margin-top: 40px;
}

.my_carousel_img img {
    width: 80%;
}

figcaption {
    font-size: 14px;
    padding: 10px 0;
}

.my_carousel_img i {
    font-size: 20px;
    padding: 0 10px;
}

.my_circle .far {
    color: #3181ff;
}

/* Sezione Features */

#features {
    padding: 40px 0;
}

.feature_img {
    padding-top: 40px;
}

.feature_img img {
    padding-bottom: 10px;
}

.feature_img h4 {
    font-size: 18px;
    font-weight: bold;
    color: #011d4c;
}

.feature_img p {
    font-size: 14px;
}

.feature_img i {
  font-size: 8px;
  padding-left: 5px;
}

/* Sezione table */

#my_table {
    padding: 40px 0;
    background: linear-gradient(135deg,#120038 0%, #0167fe 100%);
}

#my_table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border:none;
}

#my_table tr {
    border-bottom: 1px solid lightgray;
}

#my_table tr  i {
    font-size: 10px;
    padding-left: 8px;
}

#my_table h2 {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

#my_table .color_lightblue {
    text-align: right;
    
}

#my_table th {
    color: white;
    font-weight: 450;
}

#my_table a:hover {
    color: white;
}

/* Sezione team carousel */

#rocker_img {
    background-color: white;
    padding: 40px 0;
    margin-bottom: 30px;
}

#rocker_img img {
    padding: 20px 0;
}

.my_carousel_img > #rockerbox{
    width: 50%;
}

#rocker_img > #rick {
    display: inline-block;
    color: #011d4c;
    font-size: 16px;
    font-weight: 600;
}

#rocker_img > #cto {
    display: inline-block;
    color: #011d4c;
    font-size: 16px;
    margin-bottom: 30px;
}

#rocker_img i {
    font-size: 12px;
}

/* Footer */
/* Footer-top */

#my_footer_top {
    padding: 40px 0;
    background: linear-gradient(135deg,#120038 0%, #0167fe 100%);
}

#my_footer_top h2 {
    color: white;
    padding-bottom: 20px;
}

#my_footer_top #account:hover {
    color: white;
    background-color: #0165ce;
}

/* Footer-bottom */

#my_footer_bottom {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color:#011d4c;
}

.my_footer_left_logo {
    padding: 10px 0;
}

.my_footer_left_list i {
    font-size: 25px;
    color: lightgray;
    padding: 10px 0;
}

#my_footer_bottom span.bold {
    font-size: 15px;
}

.my_footer_right_list {
    list-style: none;
    padding: 30px 0;
}

.my_footer_right_list li {
    padding: 4px 0;
    font-size: 15px;
}

.my_footer_right_list a.color_white {
    font-size: 17px;
}

.my_footer_left_list i:hover {
    color: #0165ce;
}
.my_footer_right_list li a:hover {
    color: white;
    text-decoration: none;
}

/* Sticky */

.sticky {
    position: sticky;
    bottom: 0;
}
.sticky_img {
    position: absolute;
    right: 50px;
    bottom: 20px;
    height: 80px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    background-color: #0165ce;
}
.sticky_img img {
    width: 100%;
}

.notifica {
    text-align: right;
}
.notifica span {
    position: absolute;
    right: 25px;
    bottom: 70px;
    display:inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    background-color: red;
    border: 5px solid white;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 6px;
    z-index: 10;
}

.bubble {
    position: absolute;
    right: 160px;
    bottom: 40px;
    height: 60px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    cursor:pointer;
    color: #011d4c;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 500;
}

/* Media Queries */

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 40px;
    }
}

@media (max-width: 1199px) {
    .my_navbar .navbar-right {
    padding-right: 0;
    }
       
}





















