/* Debug */

[class*="col-"] {
    min-height: 100px;
    /* line-height: 100px; */
    /* background-color: yellowgreen; */
    /* border: 2px solid black; */
}

/* Common */

body {
    font-family: 'Roboto', sans-serif;
}

.color_blue {
    color:#031b4e;
}
.color_white {
    color: white;
}
.color_gray {
    color: gainsboro;
}


h1 {
    font-size: 60px;
}

/* Header */

/* Nav */

.my_navbar.navbar {
    margin-bottom: 0;
}

.my_navbar .navbar-left {
    padding-left: 80px;
    padding-top: 10px;
}

.my_navbar .navbar-right {
    padding-right: 30px;
    padding-top: 10px;
}

.my_navbar .navbar-header {
    padding-top: 5px;
}

.my_navbar .navbar-brand {
    padding: 11px 11px;
    padding-left: 50px;
}

.my_navbar .navbar-brand > img {
    height: 100%;
}

.my_navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.my_navbar a {
    color:#031b4e;
    font-size: 15px;
    font-weight: 450;
}

.my_navbar .navbar-toggle .icon-bar {
    width: 24px;
    height: 3px;
    background-color: #0167fe;
}

.btn_ocean,
.my_navbar a.btn_ocean{
    font-size: 15px;
    font-weight: bold;
    color: #0167fe;
    background-color: white;
    border-color: #0167fe;
    margin-top: 3px;
}

.my_navbar .navbar-nav>li>a.btn_ocean {
    padding: 6px 12px;
}

/* Jumbotron */

#my_jumbotron {
    /* height: 500px; */
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

.jumbo_title {
    padding: 40px 10px;
}

.jumbo_title > p {
    font-size: 22px;
}

